<h1>Edit Group Event</h1>
 
<%= form_with(model: @ge, :class=>'newform') do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  
  <p>
    <%= form.label :startdate %><br>    
    <%= form.text_field :startdate, "data-provide"=>'datepicker' %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.number_field :duration %>
  </p>
  <p>
    <%= form.submit :publish , {:class=>"btn btn-primary" , :onclick => "return submitForm(this);"}%>
    <%= form.submit :draft, {:class=>"btn btn-default", :onclick => "return submitForm(this);"} %>
  </p>
<% end %>
 
<%= link_to 'Back', group_events_path %>