<h1>Listing GroupEvents</h1>

<%= link_to 'Create New', new_group_event_path %>
<table id="events_table">
  <thead>
  <tr>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Event Start Date</th>
    <th>Event Duration</th>    
    <th>Event Status</th>    
  </tr>
  </thead>
  <tbody>
  <% @ges.each do |ge| %>
    <tr>
      <td><%= ge.name %></td>
      <td><%= ge.description %></td>
      <td><%= ge.startdate %></td>
      <td><%= ge.duration %></td>      
      <td><%= ge.status %></td>
      <td><%= link_to 'Show', group_event_path(ge) %></td>
      <td><%= link_to 'Edit', edit_group_event_path(ge) %></td>
    </tr>
  <% end %>
</tbody>
</table>