
<div class="alert alert-danger warnings">
  Something went wrong
</div> 
<%= form_with scope: :group_event, url: group_events_path, class: "newform", local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name ,{:id=>"event_name"}%>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description ,{:id=>"event_desc"}%>
  </p>
  
  <p>
    <%= form.label :startdate %><br>    
    <%= form.text_field :startdate, "data-provide"=>'datepicker' %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.number_field :duration %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>    
    <%= form.submit :publish , {:class=>"btn btn-primary" , :onclick => "return submitForm(this);"} %>
    <%= form.submit :draft , {:class=>"btn btn-default", :onclick => "return submitForm(this);"} %>
  </p>
  </p>

  <%= link_to 'Cancel', group_events_path %>
<% end %>

