<p>
  <strong>Name:</strong>
  <%= @ge.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @ge.description %>
</p>
<p>
  <strong>StartDate:</strong>
  <%= @ge.startdate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @ge.duration %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ge.status %>
</p>

<%= link_to 'Back', group_events_path %>